<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Graphel</title>
</head>

<body>
    <header>
        <h1>Diseño
            <span>Multimedia</span>
        </h1>
        <div class="nav">
            <nav>

                <a href="../index.html">INICIO</a>
                <a href="../templates/Nosotros.html">NOSOTROS</a>
                <a href="../templates/Servicios.html">SERVICIOS</a>
                <a id="contacto" href="../templates/Contacto.html">CONTACTO</a>

            </nav>
        </div>
    </header>
    <section class="Subscribete">
        <div>
            <h1>Subscríbete a nuestro boletín</h1>
        </div>
        <div>
            <input class="email" type="Email" placeholder="Ingrese el Email...">
            <input class="submit" type="Submit" value="Subscribete">
        </div>
    </section>

    

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 Miguel Ángel</p>
    </footer>
</body>

</html>