<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Graphel</title>
</head>

<body>
    <header>
        <h1>Diseño
            <span>Multimedia</span>
        </h1>
        <div class="nav">
            <nav>

                <a href="../index.html">INICIO</a>
                <a href="../templates/Nosotros.html">NOSOTROS</a>
                <a id="servicios" href="../templates/Servicios.html">SERVICIOS</a>
                <a href="../templates/Contacto.html">CONTACTO</a>

            </nav>
        </div>
    </header>
    <section class="Subscribete">
        <div>
            <h1>Subscríbete a nuestro boletín</h1>
        </div>
        <div>
            <input class="email" type="Email" placeholder="Ingrese el Email...">
            <input class="submit" type="Submit" value="Subscribete">
        </div>
    </section>
    <section>
        <h1>Servicios</h1>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tenetur mollitia, corporis eum blanditiis
                eius quod assumenda ducimus deleniti quos, praesentium, error excepturi quam aliquid unde accusantium
                pariatur ab. Aut?</p>
            <p>Precio: $300000 - $1000000</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eius. Fugit a quos pariatur error, dolor
                accusamus natus. Hic corrupti placeat numquam possimus nisi consequuntur eveniet obcaecati voluptatum
                accusamus ipsa?</p>
            <p>Precio desde: $1000000</p>
    </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eius. Fugit a quos pariatur error, dolor
                    accusamus natus. Hic corrupti placeat numquam possimus nisi consequuntur eveniet obcaecati
                    voluptatum accusamus ipsa?</p>
                <p>Precio: $30000</p>
            </div>
    </section>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 Miguel Ángel</p>
    </footer>
</body>

</html>