<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Graphel</title>
</head>

<body>
    <header>
        <h1>Diseño
            <span>Multimedia</span>
        </h1>
        <div class="nav">
            <nav>

                <a href="../index.html">INICIO</a>
                <a href="../templates/Nosotros.html">NOSOTROS</a>
                <a id="servicios" href="../templates/Servicios.html">SERVICIOS</a>
                <a href="../templates/Contacto.html">CONTACTO</a>

            </nav>
        </div>
    </header>
    <section class="Subscribete">
        <div>
            <h1>Subscríbete a nuestro boletín</h1>
        </div>
        <div>
            <input class="email" type="Email" placeholder="Ingrese el Email...">
            <input class="submit" type="Submit" value="Subscribete">
        </div>
    </section>
    <section class="servicios">
    <div class="colum">
        <h2 class="services">Servicios</h2>
        <div class="price">
            <h2>Diseño Web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tenetur mollitia, corporis eum blanditiis <br>
                eius quod assumenda ducimus deleniti quos, praesentium, error excepturi quam aliquid unde accusantium
                pariatur ab. Aut?</p>
            <p>Precio: $300000 - $1000000</p>
        </div>
        <div class="price">
            <h2>Desarrollo Web</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eius. Fugit a quos pariatur error, dolor
                accusamus natus. Hic corrupti placeat numquam possimus nisi consequuntur eveniet obcaecati voluptatum
                accusamus ipsa?</p>
            <p>Precio desde: $1000000</p>
        </div>
            <div class="price">
                <h2>Hosting Web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eius. Fugit a quos pariatur error, dolor
                    accusamus natus. Hic corrupti placeat numquam possimus nisi consequuntur eveniet obcaecati
                    voluptatum accusamus ipsa?</p><br>
                <p>Precio: $30000</p>
            </div>
        </div>

            <div class="queHacemos">
                <div class="colorD">
                <h3>Que hacemos</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa in eligendi error commodi incidunt quos
                    ratione iusto quae adipisci, iste odio esse dicta fugit accusantium id vitae. Error, nobis incidunt?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque, ea at dolores veniam animi
                    adipisci hic commodi voluptatibus. Dignissimos aliquid nam nesciunt ipsam molestias labore excepturi
                    accusantium atque alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum temporibus blanditiis mollitia nobis hic deleniti delectus saepe quam vitae. Amet quas ea suscipit natus perspiciatis laborum ducimus iure aut quos?  </p>
                </div>
            </div>
    </section>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 Miguel Ángel</p>
    </footer>
</body>

</html>